@using Microsoft.AspNetCore.Identity
@* @inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager *@
@* @{ 
    var context = new PrincipalContext(ContextType.Domain);
    var principal = UserPrincipal.FindByIdentity(context, User.Identity.Name);
} *@
<header>
  <div class="header">Pierre's Sweet and Savory Treats</div>
  <ul class="menu">
    <li id="home">@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Treats", "Index", "Treats")</li>
    <li>@Html.ActionLink("Flavors", "Index", "Flavors")</li>
      @if (User.Identity.Name != null)
      {
        @* var context = new PrincipalContext(ContextType.Domain);
        var principal = UserPrincipal.FindByIdentity(context, User.Identity.Name); *@
        <li>Hello, <a href="@Url.Action("Index", "Account")" title="Account">@(User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value)!</a></li>
      }
      else
      {
        <li><a href="@Url.Action("Index", "Account")" title="Account" id="account-icon">
          <img alt="Account" src="@Url.Content("~/Images/account.png")" width="30px"> 
        </a></li>
      }
  </ul>
</header>