@{
  Layout = "_Layout";
}

@model Pastry.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "input", value = @Model.Name})

  <input type="submit" class="button"  value="Save" />
}
<p class="button">@Html.ActionLink("Back to list", "Index")</p>